################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/ 
/.vs/EM Analyzer/v16/.suo
